# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=localpass
POSTGRES_DB=godforge

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Email
Email__Smtp__Host=smtp.example.com
Email__Smtp__Port=587
Email__Smtp__EnableSsl=true
Email__Smtp__UserName=user@example.com
Email__Smtp__Password=password
Email__Smtp__FromEmail=user@example.com
Email__Smtp__FromName=GodForge

